@media (min-width:1201px) and (max-width:1400px) {}

@media (min-width:993px) and (max-width:1200px) {}

@media (min-width:768px) and (max-width:992px) {}

@media(max-width:767px) {
    .seo-package-area table.new-package-UI {
        width: 1200px;
    }

    .package-tab.stick {
        overflow: auto;
    }

    .accordian-packages {
        width: 1200px;
    }

    .moreview-scroll {
        display: block;
        font-size: 14px;
        display: block;
        font-weight: 500;
        color: #11559b;
        letter-spacing: 0;
    }

    .case-studies-facts h2 {

        font-size: 25px;
    }

    .case-studies-facts .case-study-card-new .des h3 {

        font-size: 28px;

    }

    .case-studies-facts .case-study-card-new .des p {

        font-size: 14px;
    }

}

@media(max-width:480px) {}

@media(max-width:360px) {}